<!-- Header -->
<div class="page-header">
  <div class="fw-bold">Create todo</div>
</div>
<!-- Form -->
<form [formGroup]="form" (ngSubmit)="create()" [class.was-validated]="isSubmit">
  <div class="form-group">
    <label for="title">Title of the task</label>
    <input type="text" class="form-control" id="title" placeholder="Title" formControlName="title" required>
    <ng-container *ngTemplateOutlet="invalidTemplate; context: {$implicit:'Title'}"></ng-container>
  </div>
  <div class="form-group">
    <label for="date">The deadline for the task</label>
    <input type="date" class="form-control" id="date" formControlName="date" required>
    <ng-container *ngTemplateOutlet="invalidTemplate; context: {$implicit:'Date'}"></ng-container>
  </div>
  <div class="form-group">
    <label for="priority">Select priority</label>
    <select class="form-control" id="priority" formControlName="priority" required>
      <option *ngFor="let key of todoPriorityEnumKeys" [value]="key">
        {{todoPriorityEnum[key]}}
      </option>
    </select>
    <ng-container *ngTemplateOutlet="invalidTemplate; context: {$implicit:'Priority'}"></ng-container>
  </div>
  <button type="submit" class="btn btn-primary" [disabled]="isLoading">
    <span *ngIf="isLoading" class="spinner-border spinner-border-sm" role="status"></span>
    <span *ngIf="!isLoading">Create</span> 
  </button>
</form>

<!-- Template to show invalid feedback -->
<ng-template #invalidTemplate let-prop>
  <div class="invalid-feedback">
    {{prop}} is required
  </div>
</ng-template>